/* About.css */
.about-container {
    padding: 20px;
    text-align: center;
}

.about-container h1 {
    color: var(--text-color-darker);
    margin-bottom: 20px;
}

.about-container p {
    color: var(--text-color);
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}