# General
**/__pycache__

# SemArt
**/Images
**/semart_info

# Museum
**/fabritius_export.json.xz

# WikiArt
**/WikiArt15000.csv

# Environments
**/?*_env


# Tests
**/FAISS
**/llama_output.csv
**/qwen_output.csv
**/qwen_output2000.csv
**/consolidated_output.csv
**/LLaVa
**/llava_output.csv
**/results_cos_sim.csv
**/results_stats.csv
**/retrieval_examples
**/llm_manual_evaluation_summary.csv
**/llm_stories.csv
**/test_text_seg
**/retrieved_results


# Descriptions
project_assets/descriptions/?*.csv
