#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
}

.content-box {
  background-color: var(--container-color);
  border-radius: 15px;
  padding: 30px 50px;
  margin: 30px auto; /* Centers the block horizontally and adds vertical margin */
  width: calc(100% - 40px); /* Adjust width to account for padding */
  max-width: 900px; /* Set a maximum width for the content box */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.content-box h1 {
  color: var(--text-color-darker);
  margin-bottom: 20px;
}

.content-box p {
  color: var(--text-color);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 5%;
}

.content-box ol.instructions-list {
  list-style-position: inside; 
  padding-left: 0;
  margin: 20px auto; /* Center the list horizontally */
  max-width: 800px;
  text-align: left; /* Align list items to the left */
}

.content-box ol.instructions-list li {
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 10px;
  padding-left: 10px;
}